@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
a {
    color: #003e7b;
    text-decoration: none;
}
a:hover, a:active, a:focus{
    color: #003e7b;
}
.open_categories{
	display:none;
}
body{
	font-family: "Raleway";
	color:#003e7b;
}
.superheader.widget-area {
    position: relative;
	    margin: 10px 0;
	text-align:right;
}
.superheader.widget-area>div {
    display: block;
    position: absolute;
    right: 0;
    bottom: -18px;
    z-index: 999;
}
.superheader.widget-area>div .fa-twitter{
    background-color: #1dcaff;
    border-radius: 50%;
	padding: 8px;
	width: 15px;
    height: 15px;
	text-align:center;
    box-sizing: content-box;
	font-size:15px;
	color:#ffffff;
}
.superheader.widget-area>div .fa-facebook{
    background-color: #3b5998;
    border-radius: 50%;
	padding: 8px;
	width: 15px;
    height: 15px;
    box-sizing: content-box;
	text-align:center;
	margin-left:20px;
	font-size:15px;
	color:#ffffff;
}
.footer-widgets {
    border-top: 0;
    background-color: #003e7b;
    clear: both;
    font-size: 18px;
    padding: 60px 0;
}
.widget-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0;
	color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.footer-widget-area {
    padding-left: 0;
    padding-right: 0;
	margin-bottom:0;
}
.footer-widgets ul>li {
    margin-bottom:0;
}
.footer-widgets a {
    color: #ffffff;
    font-weight: 500;
}
.site-footer {
    background-color: #003e7b;
    border-top: 2px solid #ffffff;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    text-align: left;
	color:#ffffff;
}
.site-footer a{
	color:#ffffff;
}
.site-footer a:hover,.site-footer a:active,.site-footer a:focus {
	color:#ffffff;
}
.footer-widgets .social_footer{
	display:none;
}
.social_footer{
	float:right;
}
.fa-twitter{
    background-color: #1dcaff;
    border-radius: 50%;
	padding: 6px;
	width: 15px;
    height: 15px;
	text-align:center;
    box-sizing: content-box;
	font-size:15px;
}
.fa-facebook{
    background-color: #3b5998;
    border-radius: 50%;
	padding: 6px;
	width: 15px;
    height: 15px;
    box-sizing: content-box;
	text-align:center;
	margin-left:10px;
	font-size:15px;
}
	.widget-area .widget{
		margin-bottom:0px;
	}
.site-header {
	position:relative;
    background-color: #003e7b;
}
.site-header .wrap {

		padding: 20px 0;
	}
.genesis-nav-menu a {
    color: #ffffff;
    display: block;
    font-size: 16px;
    /* font-size: 1.5rem; */
    font-weight: 400;
    outline-offset: -1px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
.genesis-nav-menu li.fa-search a {
    font-size: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
.genesis-nav-menu li.fa-search {
    color: #ffffff;
    border-left: 1px solid #fff;
    padding-left: 20px;
    box-sizing: content-box;
    padding: 10px 20px;
    cursor: pointer;
}
.genesis-nav-menu a:focus, .genesis-nav-menu a:hover, .genesis-nav-menu .current-menu-item > a, .genesis-nav-menu .sub-menu .current-menu-item > a:focus, .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
    color: #ffffff;
    text-decoration: underline;
}
.site-container .search-form {
    display: none;
}
.site-container .search-form input[type=submit] {
    display: none;
}
#responsive-menu-container #responsive-menu-wrapper {
    background: #003e7b;
    margin-top: 130px;
}
#responsive-menu-container #responsive-menu li.responsive-menu-item>a.responsive-menu-item-link{
    font-weight: 700;
    box-sizing: border-box;
	    line-height: 60px;
    border-bottom: 1px solid #003e7b;
    color: #ffffff;
    background-color: #003e7b;
    height: 60px;
    text-transform: uppercase;
}
.site-inner {
    max-width: 1400px;
	padding:0 20px;
}
.content {
    float: none;
    width: 100%;
}
.contatti .fa{
	margin-right:10px;
	position:relative;
	width:20px;
	text-align:center;
}
.false_max_width.vc_column_container {
    padding-left: 255px;
    padding-right: 30px;
}
.contatti input, .contatti textarea {
    background-color: #a0bee2;
    color: #ffffff;
	margin-bottom:30px;
}
.contatti textarea {
	margin-bottom:0px;
}
.contatti ::placeholder{
	color:#ffffff;
	font-weight:800;
}
.privacy_policy .wpcf7-list-item{
	margin-left:0;
	margin-right:10px;
}
.privacy_policy span{
	font-size:14px;
	line-height: 14px;
    position: relative;
    display: inline-block;
    width: calc(100% - 35px);
}
.privacy_policy .privacy{
	
	margin-left:0;
	margin-right:10px;
	line-height: 14px;
    position: relative;
    display: inline-block;
    width: auto;
}
.contatti div.wpcf7 .wpcf7-submit, .contatti div.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed;
    width: 100%;
	background-color: #a0bee2;
	color: #003e7b;
	font-weight:900;
	text-transform:uppercase;
}
.border_custom{
	border-top:1px solid #f6f9fd;
	
}
.vc_custom_heading.cta_button {
    background-color: #003e7b;
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    max-width: 250px;
    font-weight: 700;
	margin:0 auto;
}
.download figure {
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 300px;
    padding: 20px;
	border:1px solid #a0bee2;
}
.download>div{
	padding-right: 7px;
    padding-left: 7px;
}
.download figure img{
    display:none;
}
.download a {
    background-color: #a0bee2;
    width: 100%;
    display: block;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 0;
    margin-bottom: 50px;
}
.download a:hover,.download a:active,.download a:focus  {
    text-decoration:none;
}
.download h3 {
    font-weight: 800;
    font-size: 22px;
    margin: 5px 0 0 0;
}
.download p {
    font-size: 16px;
}
.rainbox_row img, .rainbox_row figure, .rainbox_row figure>div{
	width:100%;
}
.chi-siamo .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab a {
    background-color: transparent;
	color: #a0bee2;
    font-weight: 800;
    text-transform: uppercase;
    border: 0;
    padding: 0 30px;
    font-size: 22px;
}
.chi-siamo .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab a:hover, .chi-siamo .vc_tta-tabs-container .vc_tta-tabs-list .vc_tta-tab.vc_active a {
    background-color: transparent;
}
.chi-siamo h2 {
    font-weight: 800;
}
.chi-siamo .flex-control-nav.flex-control-paging {
    display: none;
}
.chi-siamo .flexslider {
    border: 0;
    box-shadow: none;
    margin: 0;
}
.chi-siamo .flex-direction-nav a {
    font-size:0;
}
.chi-siamo .flex-direction-nav a:before {
    font-family: flexslider-icon;
    font-size: 30px;
    display: inline-block;
    color: #ffffff;
    font-weight: normal;
    background-color: #003e7b;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 5px;
}
.chi-siamo .flex-direction-nav a.flex-prev:before{content: "\f104";font-family:fontAwesome;}
.chi-siamo .flex-direction-nav a.flex-next:before{content: "\f105";font-family:fontAwesome;}
.row.team {
    max-width: 1400px;
    margin: 0 auto;
	position:relative;
	width:100%;
}
.team>div{
    margin-bottom:30px;

}
.team figure{
    padding: 15px;

}
.team figure figcaption {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}
.team figure figcaption b, .team figure figcaption span{
    display:block;
}
.team figure figcaption b{    
	font-weight: 800;
    line-height: 15px;}
.chi_siamo_anchor{
    text-align:center;
}
.chi_siamo_anchor .vc_custom_heading {
    display: inline-block;
}
.chi_siamo_anchor .vc_custom_heading a{
	font-weight:800;
	font-size:24px;
	color:#a0bee2 !important;
	padding:20px 10px;
}
.infografica_storia .vc_col-sm-6:nth-child(2) {
    border-left: 1px solid #003e7b;
    padding-left: 40px;
}
.infografica_storia .vc_col-sm-6:nth-child(1) {
    border-right: 1px solid #003e7b;
    padding-right: 40px;
}
.history_point.vc_col-sm-6:nth-child(2):before {
    content: " ";
    background: url(/wp-content/themes/ipinks/images/drop.PNG) no-repeat center center;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 999999;
    left: -26px;
}
.history_point.vc_col-sm-6:nth-child(1):before {
    content: " ";
    background: url(/wp-content/themes/ipinks/images/drop.PNG) no-repeat center center;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 999999;
    right: -26px;
}
.navigation_arrow{
	height: 40px;
    width: 40px;
    display: inline-block;
    color: #ffffff;
    background-color: #003e7b;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
}
a.navigation_arrow:hover, a.navigation_arrow:focus, a.navigation_arrow:active{
	color:#ffffff;
}
.navigation_mobile {
	display:none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: calc(100% - 30px);
}
.navigation_arrow.right {
    float:right;
}
.categories_blog ul {
    margin:0;
	text-align:center;
	margin-bottom: 40px;
}
.categories_blog ul>li {
    list-style-type: none;
    display: inline-block;
    font-weight: 800;
    color: #003e7b;
    padding: 0px 40px;
    margin: 20px 0;
    text-transform: uppercase;
    border-left: 2px solid #003e7b;
	font-size:22px;
}
.categories_blog ul>li:first-child {
    border-left: 0;
}
.category_hash.active, .category_hash:hover, .category_hash:active, .category_hash:focus{
	text-decoration:none;
}
.category_hash{
	    display: block;
    width: 100%;
    position: relative;
}
.category_hash.active:after, .category_hash:hover:after, .category_hash:active:after, .category_hash:focus:after {
    content: " ";
    width: 100%;
    display: inline-block;
    margin-top: 5px;
    background-color: #a0bee2;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
}
.blog_container figure{
	background-position:center center;
	background-size:cover;
	margin-bottom:30px;
}
.blog_container figure img{
	margin-bottom:0;
}
.blog_container figure a {
    display: block;
    height: 100%;
    width: 100%;
	    padding: 20px;
	position:relative;
}
.blog_container figure a figcaption {
    display: block;
    height: 100%;
    width: 100%;
    text-align: right;
    background-color: rgba(0,62,123,0.7);
    padding: 20px;
    position: absolute;
    box-sizing: border-box;
    top: 0;
	left:0;
}
.blog_container figure a:hover, .blog_container figure a:active, .blog_container figure a:focus  {
    text-decoration:none;

}
.blog_container figure a:hover figcaption, .blog_container figure a:active figcaption, .blog_container figure a:focus figcaption,.prodotti .blog_container figure a:hover figcaption,.prodotti .blog_container figure a:active figcaption,.prodotti .blog_container figure a:focus figcaption {
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: right;
    background-color: rgba(0,62,123,0.7);
    padding: 20px;
    position: absolute;
    box-sizing: border-box;
    top: auto;
    left: 0;
    bottom: 0;
}
.blog_container figure a:hover figcaption>div, .blog_container figure a:active figcaption>div, .blog_container figure a:focus figcaption>div {
    position: relative;
	bottom: 0;
	padding:0;
}
.blog_container figure a figcaption>div {
    position: absolute;
    bottom: 20px;
	padding:0 20px;
	width:100%;
	left:0;
}
.blog_container figure span, .blog_container figure b {
    display: block;
	text-transform:uppercase;
	color:#ffffff;
}
.blog_container figure a span {
    font-size:18px;
	position: relative;
}
.blog_container figure a b {
    font-size:24px;
	position: relative;
}
.blog_container figure a:hover span, .blog_container figure a:focus span, .blog_container figure a:active span {
	position: relative;
    right: 0;
    bottom: 0;
}
.blog_container figure a:hover b, .blog_container figure a:active b, .blog_container figure a:focus b {
	position: relative;
    right: 0;
    bottom: 0;
}
.blog_container img{
	visibility:hidden;
}
.blog_container .col-xs-6:nth-child(n+5) {
    display: none;
}
a.load_more {
    padding: 10px 20px;
    background-color: #003e7b;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    display: block;
    max-width: 250px;
    text-align: center;
    margin: 50px auto;
}
a.load_more:hover, a.load_more:active, a.load_more:focus {
    text-decoration:none;
}
a.load_more:hover img, a.load_more:active img, a.load_more:focus img{
    display:none;
}
.entry-categories, .entry-author, .entry-footer .entry-meta, .entry-meta{
	display:none;
}
.right_width {
    max-width: 1400px;
    margin: 0 auto !important;
}
.categories_blog_home >.row>div {
    padding: 0;
    height: 500px;
}
.categories_blog_home >.row>div:nth-child(4) {
    display:none;
}
.categories_blog_home .row{
	margin:0;
}
.categories_blog_home figure{
	position:relative;
	display:block;
	height:100%;
	width:100%;
	background-size:cover;
	background-position:center center;
}
.categories_blog_home figure img{
	display:none;
}
.categories_blog_home figcaption {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 10px 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 50px;
}
.categories_blog_home figcaption b {
    font-weight: 900;
}
.categories_blog_home a {
    display: block;
    width: 100%;
    height: 100%;
}
		.categories_blog_home figcaption span{
    display:none;
}
.home .wpb_content_element {
    margin-bottom: 0px;
}
.blocchi_home .col-xs-3.col-md-4 div {
    width: auto;
    display: inline;
    float: left;
	margin-left: 80px;
	font-weight:bold;
}
.blocchi_home div h5{
    font-size: 45px;
    font-weight: 800;
    line-height: 16px;
    margin-top: 30px;
}
.blocchi_home div h6 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
	margin-top: 15px;
}
.blocchi_home .col-xs-3.col-md-4:first-child div {
    width: auto;
    display: inline;
    float: right;
	margin-right: 80px;
}
.blocchi_home .col-xs-3.col-md-4{
	background-color:#acd9b0;
	color:#68aa6c;
}
.blocchi_home .col-xs-3.col-md-2{
	background-color:#c0a1cd;
	color:#9664ab;
}
.blocchi_home .col-xs-3:nth-child(2){
	background-color:#dcebb2;
	color:#99a769;
}
.blocchi_home .col-xs-3.col-md-4:first-child {
	background-color:#9abde5;
	color:#5580b2;
}
.blocchi_home {
    text-align: center;
}
.entry-title {
    font-size: 30px;
    font-size: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 900;
}
.post h1 {
    margin: 0 0 30px;
}
.post h2 {
    color: #a0bee2;
    font-size: 18px;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}
.back{
    color: #a0bee2;
    font-size: 16px;
    margin: 20px 0 0 0;
    display: block;
}
.single-prodotti h1{
	margin:150px 0 0 0;
	font-weight:800;
	text-transform:uppercase;
}
.single-prodotti h2{
	margin:0;
	font-size:24px;
}
.riga_intestazione_prodotto img {
    max-height: 300px;
    width: auto;
}
.single-prodotti h3{
	font-weight:800;
}
.single-prodotti .tab_dark .vc_tta-tabs-list , .single-prodotti .tab_light .vc_tta-tabs-list {
    max-width: 1400px;
    margin: 0 auto !important;
    position: relative;
    display: block;
}

.single-prodotti .tab_dark .vc_tta-tabs-container{
	background-color:#a0bee2;
}
.single-prodotti .tab_light .vc_tta-tabs-container{
	background-color:#003e7b;
}
.tab_dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a, .tab_dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active>a, .tab_light .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a, .tab_light .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active>a {
    color: #ffffff !important;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
	padding: 7px 40px;
}
.single-prodotti .tab_dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a {
    border-color: #a0bee2;
    background-color: #a0bee2;
    color: #ffffff;
	padding: 7px 40px;
		text-align:center;
}
.single-prodotti .tab_light .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a {
    border-color: #003e7b;
    background-color: #003e7b;
    color: #ffffff;
	padding: 7px 40px;
	text-align:center;
}
.single-prodotti .tab_dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active>a, .single-prodotti .tab_dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a:hover, .single-prodotti .tab_dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a:active, .single-prodotti .tab_dark .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a:focus {
    border-color: #003e7b;
    background-color: #003e7b;
    color: #ffffff;
	
}
.single-prodotti .tab_light .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab.vc_active>a, .single-prodotti .tab_light .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a:hover, .single-prodotti .tab_light .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a:active, .single-prodotti .tab_light .vc_tta-color-white.vc_tta-style-classic .vc_tta-tab>a:focus {
    border-color: #a0bee2;
    background-color: #a0bee2;
    color: #ffffff;
	
}
.tab_dark .vc_tta-panels-container h4, .tab_light .vc_tta-panels-container h4{
    font-weight:800;
}
.tab_dark .vc_tta-panels-container, .tab_light .vc_tta-panels-container {
    max-width: 1400px;
    margin: 0 auto !important;
    color: #ffffff;
	font-weight:600;
	padding:0 30px;
}
.tab_light .vc_tta-panels-container {
    max-width: 1400px;
    margin: 0 auto !important;
    color: #003e7b;
	font-weight:600;
	padding:0 30px;
}
.cta_prodotti_light a {
    padding: 7px 40px;
    background-color: #a0bee2;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
    /* font-size: 24px; */
}
.single-prodotti iframe {
    height: 400px !important;
}
.single-prodotti .vc_tta-tabs-container a.next_tab{
	    position: absolute;
    right: 10px;

    z-index: 999;
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
}
.single-prodotti .vc_tta-tabs-container a.prev_tab{
	    position: absolute;
    left: 10px;

    z-index: 999;
    font-size: 36px;
    cursor: pointer;
    display: inline-block;
}
.single-prodotti .vc_tta.vc_general .vc_tta-tab{
	position:relative;
}
.single-prodotti .entry {
    margin-bottom: 0px;
}
.prodotti .blog_container figure a figcaption{
	display:none;
}
.prodotti .blog_container figure {
    background-position: center center;
    background-size: 50%;
    margin-bottom: 30px;
    background-repeat: no-repeat;

}
.prodotti .blog_container figure a{
	border: 1px solid #a0bee2;
}
/*add support for 5 column footer*/
.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3,
.footer-widgets-4,
.footer-widgets-5 {
  width: 18%;
  float: left;
  margin-left: 2.5%;
}

.footer-widgets-1 {
  margin-left: 0px;
}
.featured_image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 400px;
}
@media only screen and (min-width: 960px){
	.footer-widgets .wrap, .site-footer .wrap, .site-header .wrap {
		max-width: 1400px;
		margin: 0 auto;
	}
	.home .entry, .single-prodotti .entry{
    margin-bottom: 0px;
}
}
@media only screen and (max-width: 1400px){
	.footer-widgets .wrap{
		padding:0 50px;
	}
	.site-footer .wrap {
		padding:0 10px;
	}
	.false_max_width.vc_column_container {
    padding-left: 30px;
    padding-right: 30px;
}
}
@media only screen and (max-width: 1200px){
	.blocchi_home .col-xs-3 {
    width: 25%;
}
	.blocchi_home .col-xs-3.col-md-4 div {
	margin-left: 0px;

}
.blocchi_home .col-xs-3.col-md-4:first-child div {
	margin-right: 0px;
}
	.superheader.widget-area{
		display:none;
	}
	.site-header .wrap {
    padding: 0;
}
	.wp-custom-logo .title-area {
    max-width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
    float: none;
    width: 100%;
    text-align: center;
}
}
@media only screen and (max-width: 992px){
	.categories_blog_home >.row>div:nth-child(4) {
    display: block;
}

	.categories_blog_home {
    padding: 20px 40px;
}
	.categories_blog_home >.row>div {
    padding: 15px;
    height: 300px;
}
		.categories_blog_home figcaption span{
    font-size: 16px;
			display:block;
}
	.categories_blog_home figcaption {
    font-size: 24px;
}
	.navigation_mobile {
		display:block;
	}
	/*.categories_blog ul>li {
    list-style-type: none;
    display: inline-block;
    font-weight: 800;
    color: #003e7b;
    padding: 0 10px;
    margin: 20px 0;
    text-transform: uppercase;
    border-left: 0;
    font-size: 14px;
}*/
}
@media only screen and (max-width: 767px) {
	.open_categories{
	display:inline-block;
}
	.category_hash.active:after, .category_hash:hover:after, .category_hash:active:after, .category_hash:focus:after {
    content: none;
}
		a.open_categories img{
    position: absolute;
    top: 20px;
    right: 0px;
	margin-top: -7px;
		display:block;
}
.categories_blog>ul>li{
    margin-right: 0px;
    position: relative;
    display: block;
    text-align: left;
    line-height: 30px;
    font-weight: 800;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border: 0;
    text-transform: capitalize;
}
	.categories_blog ul li a {
		text-decoration:none;
}
	.categories_blog {
    padding: 0px;
		position:relative;
}
	.categories_blog ul {
    border-bottom: 1px solid #a0bee2;
		padding:0;
		height:31px;
		overflow:hidden;
}
	.blocchi_home div h5{
    font-size: 38px;
    font-weight: 800;
    line-height: 16px;
    margin-top: 30px;
}
	.riga_intestazione_prodotto figure, .riga_intestazione_prodotto figure div {
    width: 100%;
    text-align: right;
}
	.wpb-js-composer .vc_tta.vc_tta-tabs .vc_tta-tabs-container{
		display:block !important;
	}
	.vc_tta-panel-heading{
		display:none;
	}
	.history_point * {
    text-align: left !important;
}
		.history_point  {
    margin-left:50px;
}
	.infografica_storia .vc_col-sm-6 {
    border-left: 1px solid #003e7b;
    padding-left: 40px;
    border-right: 0;
    padding-right: 0px;
}
	.infografica_storia .vc_col-sm-6:nth-child(1) {
    border-right: 0;
    padding-right: 0px;
}
.history_point.vc_col-sm-6:nth-child(2):before {
    content: " ";
    background: url(/wp-content/themes/ipinks/images/drop.PNG) no-repeat center center;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 999999;
    left: -26px;
}
.history_point.vc_col-sm-6:nth-child(1):before {
    content: " ";
    background: url(/wp-content/themes/ipinks/images/drop.PNG) no-repeat center center;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 999999;
    left: -26px;
}
	.download figure {
    background-size: 80% auto;

}
.border_custom{
	border-top:1px solid #003e7b;
	
}
	.widget-area.footer-widgets-1.footer-widget-area>section{
		display:inline-block;
		float:right;
	}
	.widget-area.footer-widgets-1.footer-widget-area .fa-twitter{
		    background-color: #1dcaff;
	border-radius: 50%;
    padding: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    box-sizing: content-box;
    font-size: 15px;
    margin-top: 20px;
}
.widget-area.footer-widgets-1.footer-widget-area .fa-facebook{
    background-color: #3b5998;
	border-radius: 50%;
    padding: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    box-sizing: content-box;
    font-size: 15px;
    margin-top: 20px;
	margin-left:40px;
}

	.widget-area.footer-widgets-1.footer-widget-area>section:first-child{
		float:none;
	}
	.footer-widgets .social_footer{
	display:block;
}
 .footer-widgets-1,
 .footer-widgets-2,
 .footer-widgets-3,
 .footer-widgets-4,
 .footer-widgets-5 {
   width: 100%;
   float: none;
   margin-left: 0;
	 margin-bottom:20px;
 }
	.footer-widgets-3, .footer-widgets-4, .footer-widgets-5 {
    width: 33%;
    float: left;
}
	.widget-title {
    font-size: 18px;
}
	.footer-widgets a {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
}
	.site-footer {
    font-size: 14px;
		text-align:center;
}
	.site-footer .social_footer{
		display:none;
	}
	.hide_mobile{display:none;}
	div#chi_siamo_home {
    background-color: #ffffff !important;
    color: #003e7b !important;
}
		div#chi_siamo_home h1,div#chi_siamo_home p,div#chi_siamo_home p span {
    color: #003e7b !important;
}
	.widget-area.footer-widgets-1.footer-widget-area #media_image-2 img {
    max-width: 150px !important;
}
	#custom_html-2 .widget_text.widget-wrap {
    position: absolute;
    right: 25%;
}
	.chi_siamo_anchor a {
    font-size: 18px !important;
}
	.blog_container figure a b {
    font-size: 18px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
	.blog_container figure a span {
    font-size: 14px;
    position: absolute;
    right: 20px;
    bottom: 45px;
}
	.featured_image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
}
	.download figure {
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 226px;
    padding: 20px;
    border: 1px solid #a0bee2;
}
	.prodotti .blog_container figure {
    background-position: center center;
    background-size: 50%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}
	.categories_blog.prodotti .col-xs-6.col-md-3{
		padding:0 5px;
	}
	.riga_intestazione_prodotto img {
    max-height: 180px;
    width: auto;
}
	.single-prodotti h1 {
   font-size:25px !important;
}
	.single-prodotti h2 {
    margin: 0;
    font-size: 18px;
}
	.single-prodotti .riga_intestazione_prodotto_yellow {
    padding-bottom: 65px !important;
}
}

@media only screen and (max-width: 600px) {
	.footer-widgets-3, .footer-widgets-4, .footer-widgets-5{
		float:none;
		width:100%;
		text-align:center;
	}
	.widget-area.footer-widgets-1.footer-widget-area>section {
    position: relative;
    display: block;
    float: none;
    text-align: center;
}
	#custom_html-2 .widget_text.widget-wrap {
    position: relative;
    right: 0;
    width: 100%;
}
	.social_footer {
    float: none;
}
	.blocchi_home div h5 {
    font-size: 23px;
    font-weight: 800;
    line-height: 16px;
    margin-top: 30px;
}
	.blocchi_home div h6 {
    font-size: 14px;
}
}